:root {
    --brightcyan:hsl(31, 77%, 52%);
    --darkcyan:hsl(184, 100%, 22%);
    --verydarkcyan:hsl(179, 100%, 13%);
    --transwhite:hsla(0, 0%, 100%, 0.75);
    --lightgray:hsl(0, 0%, 95%);
}

body {
    background-color: var(--transwhite);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.cards{
    width: 300px;
    height: 480px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}
.cards:nth-child(1){
    background-color: var(--brightcyan);
    border-radius: 5px 0px 0px 5px;
}
.cards:nth-child(2){
    background-color: var(--darkcyan);
}
.cards:nth-child(3){
    background-color: var(--verydarkcyan);
    border-radius: 0px 5px 5px 0px;
}

.cards .car-type {
    /* width: 70px;
    height: 50px; */
    align-self: flex-start;
    margin: 50px 0px 0px 40px;
    border:none;
    outline: none;
}

.cards .car-title {
    color: var(--lightgray);
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 45px;
    margin:30px 0px 0px 40px;
}
.cards .desc {
    color: var(--transwhite);
    width: 217px;
    font-family: 'Lexend Deca', sans-serif;
    margin: 20px 0px 0px 40px;
    line-height: 23px;
}
.cards .btn {
    width: 150px;
    height: 50px;
    background-color: var(--transwhite);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    margin: 100px 0px 0px 40px;
    color: var(--brightcyan);
}
.cards:nth-child(2) .btn {
    color: var(--darkcyan);
    background-color: var(--lightgray);
}
.cards:nth-child(3) .btn {
    color: var(--verydarkcyan);
    background-color: var(--lightgray);
}
.cards:nth-child(2) .desc {
    width: 226px;
}
.cards:nth-child(3) .desc {
    width: 226px;
}